@import url("https:fonts.googleapis.com/css2?family=Poppins")

	{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Poppins' sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url('nilou.png') no-repeat;
	background-size: cover;
	background-position: center;

}

#footer {
	position:absolute;
	background: transparent;
	backdrop-filter: blur(10px);
	bottom: -40px;
	width:98.9%;
	height:40px;
	font-size: 1em;
	text-align: center;
	font-family: arial;
	padding: 10px;
	position: ;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 90%;
	padding: 20px 100px;
	/*background-image: linear-gradient(to bottom right, blue, yellow);*/	
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
	/*opacity: .8;*/
}

#header {
	background-image: linear-gradient(to right, blue, yellow); height: 80px;
	width: 100%;
	height: 100px;
	padding: 20px 10px 10px 20px;
}

.main-header .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
    font-family: fontAwesome
}

.main-header .sidebar-toggle:before {
    content: "\f0c9"
}

.main-header .sidebar-toggle:hover {
    color: #fff
}

.main-header .sidebar-toggle:focus,.main-header .sidebar-toggle:active {
    background: transparent
}

.main-header .sidebar-toggle.fa5 {
    font-family: "Font Awesome\ 5 Free"
}

.main-header .sidebar-toggle.fa5:before {
    content: "\f0c9";
    font-weight: 900
}

.main-header .sidebar-toggle .icon-bar {
    display: none
}

.main-header .navbar .nav>li.user>a>.fa,.main-header .navbar .nav>li.user>a>.glyphicon,.main-header .navbar .nav>li.user>a>.ion {
    margin-right: 5px
}

.main-header .navbar .nav>li>a>.label {
    position: absolute;
    top: 9px;
    right: 7px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9
}

.main-header .logo {
    transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 15px;
    font-weight: 300;
}

.main-header .logo img {
    padding: 4px;
    object-fit: contain;
    margin: 0 auto
}

.main-header .logo .logo-lg {
    display: flex;
}

.main-header .logo .logo-lg img {
    max-width: 300px;
    max-height: 90px
}

.main-header .logo .logo-lg .brandlogo-image {
    margin-top: 8px;
    margin-right: 10px;
    margin-left: -5px
}

.main-header .logo .logo-mini {
    display: block;
}

.main-header .logo .logo-mini img {
    max-width: 50px;
    max-height: 50px
}

.logo {
	font-size: 2em;
	color: #fff;
	user-select: none;
}

 img {
        width: 100px;
        height: 100px;
    }

.navigation a {
	position: relative;
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	margin-left: 40px;
}

.navigation a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 3px;
	background: #fff;
	border-radius: 5px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform .5s;
}

.navigation a:hover::after {
	transform-origin: left;
	transform: scaleX(1);
}

.navigation .btnlogin-popup {
	width: 130px;
	height: 50px;
	background: transparent;
	border: 2px solid #fff;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;
	color: #fff;
	font-weight: 500px;
	margin-left: 40px;
}

.navigation .btnlogin-popup:hover {
	background: #fff;
	color: #162938;
}

.wrapper {
	position: relative;
	width: 400px;
	height: 440px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .5);
	border-radius: 20px;
	backdrop-filter: blur(10px);
	box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transform: scale(0);
	transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
	transform: scale(1);
}

.wrapper.active {
	height: 520px;
}

.wrapper .form-box {
	width: 80%;
	padding: 40px;
}

.wrapper .form-box.login {
	transition: transform .18s ease;
	transform: translateX(0);
}

.wrapper.active .form-box.login {
	transition: none;
	transform: translateX(-400px);
}

.wrapper .form-box.register {
	position: absolute;
	transition: none;
	transform: translateX(400px);
}

.wrapper.active .form-box.register {
	transition: transform .18s ease;
	transform: translateX(0);
}

.wrapper .icon-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	height: 45px;
	background: rgb(0 0 0);
	font-size: 2em;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 20px;
	cursor: pointer;
	z-index: 1;
}

.form-box h1 {
	font-size: 2em;
	color: rgb(0 0 0);
	text-align: center;
}


.form-box h2 {
	font-size: 2em;
	color: rgb(0 0 0);
	text-align: center;
}

.input-box {
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid rgb(0 0 0);
	margin: 30px 0;
}

.input-box label {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	font-size: 1em;
	color: rgb(0 0 0);
	font-weight: 500;
	pointer-events: none;
	transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
	top: 5px;
}

.input-box input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1em;
	color: rgb(0 0 0);
	font-weight: 600;
	padding: 0 35px 0 5px;
}

.input-box .icon {
	position: absolute;
	right: 8px;
	font-size: 1.2em;
	color: rgb(0 0 0);
	line-height: 57px;
}

.input-box2 {
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid rgb(0 0 0);
	margin: 30px 0;
}

.input-box2 label {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	font-size: 1em;
	color: rgb(0 0 0);
	font-weight: 500;
	pointer-events: none;
	transition: .5s;
}

.input-box2 input:focus~label,
.input-box2 input:valid~label {
	top: 5px;
}

.input-box2 input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1em;
	color: rgb(0 0 0);
	font-weight: 600;
	padding: 0 35px 0 5px;
}

.input-box2 .icon {
	position: absolute;
	right: 8px;
	font-size: 1.2em;
	color: rgb(0 0 0);
	line-height: 57px;
}

.remember-forgot {
	font-size: .9em;
	color: rgb(0 0 0);
	font-weight: 500;
	margin: -15px 0 15px;
	display: flex;
	justify-content: space-between;
}

.remember-forgot label input {
	accent-color: rgb(0 0 0);
	margin-right: 3px;
}

.remember-forgot a {
	color: rgb(0 0 0);
	text-decoration: none;
}

.remember-forgot a:hover {
	text-decoration: underline;
}

.btn {
	width: 100%;
	height: 45px;
	background: rgb(0 0 0);
	border: none;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1em;
	color: #fff;
	font-weight: 500;
}

.login-register {
	font-size: .9em;
	color: rgb(0 0 0);
	text-align: center;
	font-weight: 500;
	margin: 25px 0 10px;
}

.login-register p a {
	color: rgb(0 0 0);
	text-decoration: none;
	font-weight: 600;
}

.login-register p a:hover {
	text-decoration: underline;
}