@import url("https:fonts.googleapis.com/css2?family=Poppins")

	{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Poppins' sans-serif;
}

body {
/*	backdrop-filter: blur(2px);*/
		background-image: url("foto/waifu.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	  width: 100%;
  	height: auto;
}

div {
	font-family: cursive;
}

h1 {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	color: whitesmoke;
	font-family: cursive;
}

h2 {
	font-family: cursive;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 90%;
	padding: 20px 100px;
	/*background-image: linear-gradient(to bottom right, blue, yellow);*/	
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
	/*opacity: .8;*/
}

br {
	display: block; 
	margin-bottom: 100em; 
}

:root {
  --background-gradient: linear-gradient(178deg, #ffff33 10%, #3333ff);
}

select {
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.background-header {
	padding: 10px;
	background: url("foto/wallpaper.jpg");
	background-size: cover;
	background-position: center;
	height: 200px;
}

.background-header-dua {
	min-height: 100vh;
	background-image: url("foto/hutao2.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	 width: 100%;
  height: auto;
}


.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: .25s all ease;
  pointer-events: none;
}

.select:hover::after {
  color: #f39c12;
}

.kotak {
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0, 8);
	padding: 10px;
	border: 1px #1e90ff;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.animation {
	color: #fff;
	background: linear-gradient(-45deg, #2b0070, #390f87, #650ac0, #ffffff, #ffffff);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.animation-dua {
	color: #fff;
	background: linear-gradient(-45deg, #2b0070, #390f87, #650ac0, #ffffff, #ffffff);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.logo-lg {
    display: flex;
    background-position: 100%;
}

.button {
	position:absolute;
	background: transparent;
	backdrop-filter: blur(10px);
	bottom: -70px;
	width:100%;
	height:72px;
	font-size: 1em;
	text-align: center;
	font-family: arial;
	padding: 23px;
	position: ;;
}

@media screen and (max-width : 500px) {
	body {
		background-image: url("foto/waifu.png");
	}
}

#footer {
	position:absolute;
	background: transparent;
	backdrop-filter: blur(10px);
	bottom: -70px;
	width:100%;
	height:72px;
	font-size: 1em;
	text-align: center;
	font-family: arial;
	padding: 23px;
	position: ;;
}

#footer-login {
	position:absolute;
	background: transparent;
	backdrop-filter: blur(10px);
	bottom: -714px
	width:100%;
	height:72px;
	font-size: 1em;
	text-align: center;
	font-family: arial;
	padding: 23px;
	position: ;
}

.color-gradient {
	  background-image: linear-gradient(to bottom right, #5d02ff, #7e50d1);
}

.color-gradient-satu {
	background-image: linear-gradient(to bottom right, #f60000, #f2a027);
}

.color-gradient-dua {
	background-image: linear-gradient(to bottom right, #ffa33b, #f8ae5d);
}

.color-gradient-tiga {
	background-image: linear-gradient(to bottom right, #f0db09, #fbff64);
}

.color-gradient-empat {
	background-image: linear-gradient(to bottom right, #00ff20, #00e208);
}

.color-gradient-lima {
	background-image: linear-gradient(to bottom right, #0fa3b6, #57ecff);
}

.gradient-amber {
	  background-image: linear-gradient(to bottom right, #ffb100, #e29c00);
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
}
	50% {
		background-position: 100% 50%
}
	100% {
		background-position: 0% 50%
}

