@import url("https:fonts.googleapis.com/css2?family=Poppins")

	{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Poppins' sans-serif;
}

body {
/*	backdrop-filter: blur(2px);*/
	min-height: 100vh;
	background-image: url("foto/wallpaper.png");
	background-size: cover;
	background-position: center;
}

.kotak {
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0, 8);
	padding: 10px;
	border: 1px dashed grey;
}

#footer {
	position:absolute;
	background: transparent;
	backdrop-filter: blur(10px);
	bottom: 2px;
	width:100%;
	height:40px;
	font-size: 1em;
	text-align: center;
	font-family: arial;
	padding: 23px;
	position: ;
}

#footer {
	position:absolute;
	background: transparent;
	backdrop-filter: blur(10px);
	bottom: 2px;
	width:100%;
	height:40px;
	font-size: 1em;
	text-align: center;
	font-family: arial;
	padding: 23px;
	position: ;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 90%;
	padding: 20px 100px;
	/*background-image: linear-gradient(to bottom right, blue, yellow);*/	
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
	/*opacity: .8;*/
}